body {
  display: flex;
  flex-direction: column;
  margin: 30px;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  box-sizing: border-box;
  background-color: bisque;
  border-radius: 10px;
  width: 50vw;
  height: 50vw;
  box-shadow: inset 10px 10px #999;
  padding: 10px 0px 0px 10px;
}

.block {
  box-sizing: border-box;
  flex: 1 1 auto;
  display: flex;
}

.row {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.case {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  border-radius: 30px;
  /* border: solid black 10px; */
  padding: 50px 50px 20px 50px;
  box-shadow: 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999, 4px 4px 0px #999,
    5px 5px 0px #999, 6px 6px 0px #999, 7px 7px 0px #999, 8px 8px 0px #999,
    9px 9px 0px #999, 10px 10px 0px #999;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;
}

.buttons button {
  flex: 0 1 auto;
  height: 12vw;
  width: 12vw;
  border-radius: 50%;
  border: none;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999, 4px 4px 0px #999,
    5px 5px 0px #999;
}
