body {
  display: flex;
  flex-direction: column;
  margin: 30px;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  border: solid black 10px;
  box-sizing: border-box;
  border-radius: 10px;
  width: 50vw;
  height: 50vw;
}

.block {
  box-sizing: border-box;
  flex: 1 1 auto;
  display: flex;
}

.row {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.case {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  border-radius: 30px;
  border: solid black 10px;
  padding: 50px 50px 20px 50px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;
}

.buttons button {
  flex: 0 1 auto;
  height: 12vw;
  width: 12vw;
  border-radius: 50%;
  border: solid black 6px;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 5px 5px grey;
}
