body {
  display: flex;
  flex-direction: column;
  margin: 30px;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  border: solid red 2px;
  box-sizing: border-box;
  width: 50vw;
  height: 50vw;
}

.block {
  box-sizing: border-box;
  flex: 1 1 auto;
  display: flex;
}

.row {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.case {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  border-radius: 80px;
  border: none;
  padding: 50px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;
}
