.container {
  display: flex;
  border: solid red 2px;
  box-sizing: border-box;
  height: 960px;
  width: 960px;
}

.block {
  box-sizing: border-box;
  flex: 1 1 auto;
}

.row {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
