body {
  display: flex;
  flex-direction: column;
  margin: 30px;
  align-items: center;
  justify-content: center;
  background-color: #36454f;
}

.container {
  display: flex;
  box-sizing: border-box;
  background-color: bisque;
  border-radius: 10px;
  width: 50vw;
  height: 50vw;
  box-shadow: inset 10px 10px #999;
  padding: 10px 0px 0px 10px;
}

.block {
  box-sizing: border-box;
  flex: 1 1 auto;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.row {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  margin: 0px;
  padding: 0px;
}

.case {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  border-radius: 30px;
  padding: 50px 50px 20px 50px;
  box-shadow: 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999, 4px 4px 0px #999,
    5px 5px 0px #999, 6px 6px 0px #999, 7px 7px 0px #999, 8px 8px 0px #999,
    9px 9px 0px #999, 10px 10px 0px #999, 15px 15px 10px;
  transform: rotate(0.01turn);
}

.case:hover {
  transform: scale(1.05) rotate(0turn);
  box-shadow: 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999, 4px 4px 0px #999,
    5px 5px 0px #999, 6px 6px 0px #999, 7px 7px 0px #999, 8px 8px 0px #999,
    9px 9px 0px #999, 10px 10px 0px #999, 30px 30px 30px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0 0;
}

.buttons .prompt {
  font-family: "Press Start 2P";
  font-size: 1rem;
  color: #36454f;
  flex: 0 1 auto;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: none;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999;
}

.prompt:active {
  transform: rotate(45deg);
  box-shadow: 1px 0px 0px #999, 2px 0px 0px #999, 3px 0px 0px #999,
    4px 0px 0px #999, 5px 0px 0px #999, 6px 0px 0px #999, 7px 0px 0px #999;
}

.colourButtonContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.colourButtonContainer div {
  margin: 0px;
}

.colourButtonContainer button {
  width: 30px;
  height: 30px;
  margin: 3px 3px 3px 3px;
  padding: 0;
  border: none;
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999;
}

.colourButtonContainer button:active {
  transform: translateX(2px) translateY(2px);
  box-shadow: 1px 1px 0px #999;
}

.clear {
  flex: 0 1 auto;
  background-color: red;
  font-family: "Press Start 2P";
  color: white;
  height: 3rem;
  width: 6rem;
  border: none;
  box-shadow: 1px 1px 0px darkred, 2px 2px 0px darkred, 3px 3px 0px darkred,
    4px 4px 0px darkred;
}

.clear:active {
  transform: translateX(2px) translateY(2px);
  box-shadow: 1px 1px 0px darkred, 2px 2px 0px;
}
